<!DOCTYPE html>
<html lang="en">

<head>
  <title>SmileCommUNITY</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="SmileCommUNITY - Environment">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link href="../static/image/favicon.ico" rel="icon" type="image/x-icon" />
</head>

<body>
  <header>
    <div class="images">
      <img src="../static/image/smilecommunity.jpg" style="padding-right: 20px; border-radius: 7px;" />
      <p>Welcome to Smile CommUNITY</p>
    </div>
  </header>

  <div id='main'>
    <article>
      <h1>Topic of the day: {{ topic }}</h1>
      <div>
        <blockquote class="embedly-card">
          <h4><a href="http://news.nationalgeographic.com/2016/03/160303-thailand-farmers-slash-and-burn-forests-climate-environment/">These Farmers Slash and Burn Forests-But in a Good Way</a></h4>
          <p>In the dark, unfurnished room where Chaiprasert Phokha sits, in a house on stilts, a sunbeam falls through the
            pane-less window and fills a glass jar with amber light. Phokha leans his wiry body into the light and pops the
            vacuum-sealed lid off the jar. With an encouraging nod, he passes it to me.</p>
        </blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        <blockquote class="embedly-card">
          <h4><a href="http://news.nationalgeographic.com/2015/10/151021-climate-change-global-warming-heat-wave-great-barrier-reef-carbon-emissions/">And Now for Some Good News About Climate Change</a></h4>
          <p>There are now only 39 days to go until the world's nations convene in Paris for the United Nations Climate Summit.
            Six years ago, talks in Copenhagen ended in chaos. Is there any reason to suppose Paris will deliver anything
            more than well-padded expense accounts for delegates and hot air on the issues?
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
      </div>
        <div class="button-area-line">
          <a href="{{ url_for('environment') }}">Environment
                <img src="http://news.nationalgeographic.com/content/dam/news/2016/03/03/slashburn/06slashburn.adapt.590.1.jpg" width="150" height="150"/>
              </a>
          <a href="{{ url_for('equality') }}">Equality
                <img src="http://news.nationalgeographic.com/content/dam/news/2016/03/03/slashburn/06slashburn.adapt.590.1.jpg" width="150" height="150"/>
              </a>
          <a href="{{ url_for('education') }}">Education
                <img src="http://news.nationalgeographic.com/content/dam/news/2016/03/03/slashburn/06slashburn.adapt.590.1.jpg" width="150" height="150"/>
              </a>
          <a href="{{ url_for('feminism') }}">Feminism
                <img src="http://news.nationalgeographic.com/content/dam/news/2016/03/03/slashburn/06slashburn.adapt.590.1.jpg" width="150" height="150"/>
              </a>
          <a href="{{ url_for('science') }}">Science
                <img src="http://news.nationalgeographic.com/content/dam/news/2016/03/03/slashburn/06slashburn.adapt.590.1.jpg" width="150" height="150"/>
              </a>
        </div>
    </article>
  </div>
  <footer>
    <p>&copy; Your group name GWC 2017</p>
  </footer>
</body>

</html>